<h1>Account Type Details</h1>
<table>
<thead>
	<td> Account Title </td>
	<td> Amount </td>
</thead>
<tbody>
<% @accounts.each do |account| %>
<% if account.account_type.name == @accounttype.name %>
<tr>	
	<td><%= link_to "#{account.name}", account_path(account) %></td>
	<td><%= account.amount %></td> 
</tr>
<% end %>
<% end %>
</tbody>
</table>
<br>
<%= link_to "Return to Account Type main page", account_types_path%>
<br>
<%= link_to "Go to Transactions Home Page", transactions_path%>

