<h1>Accounts Ledger</h1>
<h2> Below is the current amount of each account</h2>
<table>
	<thead>
		<th> Account Name </th>
			<th> Account Amount </th>
		</thead>
		<tbody>
		<tr>
			<% @accounts_native.each do |a| %>
			<td> <%= a.name %> </td>
			<td> <%= a.amount %></td>
		</tr>
		</tbody>
		<% end %>
		</table>
<br>
<%= link_to 'Back to homepage', transactions_path%>
